:root {
  --white: hsl(0, 0%, 100%);
  --lightGray: hsl(212, 45%, 89%);
  --grayishBlue: hsl(220, 15%, 55%);
  --darkBlue: hsl(218, 44%, 22%);
}

html {
  height: 100%;
  font-family: 'Oufit', sans-serif;
  text-align: center;
  background-color: var(--lightGray);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

p {
  font-size: 0.9375rem;
}

.attribution {
  font-size: 11px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--white);
  width: 320px;
  border-radius: 15px;
}

.cardContent {
  width: 288px;
  margin: 16px auto;
}

#qrCode {
  display: block;
  border-radius: 15px;
  width: 288px;
  margin-bottom: 25px;
}

.cardHeading {
  font-size: 1.375rem;
  font-weight: 700;
  color: var(--darkBlue);
  margin-bottom: 15px;
}
.cardText {
  color: var(--grayishBlue);
  padding: 0 10px;
  margin-bottom: 35px;
}
